body{
    width: 400px;
    height: 300px;
    padding : 8px;

    background-color : #000;
    box-shadow : -2px -2px 16px #ddd;



}
#popup{
    width: 400px;
    height: 400px;
    position : fixed;
    bottom : 0;
    right : 0;
    font-size : 13px;
}


